<ion-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">Notabene Change Password</h1>
	</ion-header-bar>

	<ion-content has-bouncing="true" class="page-content">
		<div class="padding" ng-if="isFirstPasswordChange">
			<h3>One last thing...</h3>

			<p>We've sent you an email with a temporary password. Please check your email address and change your password.</p>
		</div>

		<div class="list">
			<label class="item item-input item-floating-label">
				<span class="input-label positive">Current Password</span>

				<input type="password" placeholder="My current password" ng-model="user.oldPassword">
			</label>

			<label class="item item-input item-floating-label">
				<span class="input-label positive">New Password</span>
				
				<input type="password" placeholder="My new password" ng-model="user.newPassword">
			</label>
		</div>

		<div class="padding">
			<button class="button button-block button-positive" ng-click="done()">Change Password</button>

			<div class="error" ng-if="errorMessage" ng-bind="errorMessage"></div>

			<div class="error password-strength-error" ng-if="!passwordValid">Password must:
				<ul>
					<li>have at least 1 uppercase letter</li>

					<li>have at least 1 lowercase letter</li>

					<li>have at least 1 digit</li>

					<li>be at least 8 characters long</li>
				</ul>
			</div>

			<br ng-if="!isFirstPasswordChange" />

			<hr ng-if="!isFirstPasswordChange" />

			<br ng-if="!isFirstPasswordChange" />

			<button class="button button-assertive button-block" ng-if="!isFirstPasswordChange" ng-sref="app.dashboard" ng-click="changeState('app.dashboard')">Cancel</button>
		</div>
	</ion-content>
</ion-view>