<ion-view view-title="Create New Reminder">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button class="button-clear button-goback">
			<i class="ion-ios-arrow-back"></i>
		</ion-nav-back-button>
	</ion-nav-bar>

	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content class="padding page-content" has-bouncing="true">
		<form ng-submit="createReminder(reminder)" name="createReminderForm">
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Reminder Title</span>

					<input type="text" ng-model="reminder.title" required>

					<span class="error-notification">Title is missing</span>
				</label>

				<label class="item item-input item-stacked-label">
					<small class="item-input-hint">Supports <a href="#/app/markdown">Markdown</a></small>

					<span class="input-label">Reminder Content</span>

					<textarea ng-model="reminder.content" required class="note-content-edit"></textarea>

					<span class="error-notification">Content is missing</span>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Reminder Date</span>

					<input type="date" ng-model="reminder.date" required>

					<span class="error-notification">Date is missing</span>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">Reminder Time</span>

					<input type="time" ng-model="reminder.time" required>

					<span class="error-notification">Time is missing</span>
				</label>

				<label class="item item-toggle">
					Repeating Reminder?

					<label class="toggle toggle-royal">
						<input type="checkbox" ng-model="reminder.repeating" checked>
						
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</label>

				<label class="item item-select item-stacked-label " ng-show="reminder.repeating">
					<span class="input-label">Repeat Interval:</span>

					<select ng-model="reminder.repetition">
						<option value="0">No Repeat</option>

						<option value="minute">Every Minute</option>

						<option value="hour">Every Hour</option>

						<option value="day">Every Day</option>

						<option value="week">Every Week</option>

						<option value="month">Every Month</option>

						<option value="year">Every Year</option>
					</select>
				</label>

				<label class="item item-toggle">
					Recieve Notification?

					<label class="toggle toggle-royal">
						<input type="checkbox" ng-model="reminder.notification" checked>
					
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</label>

				<button class="button button-block button-royal" type="submit">Create Reminder</button>
			</div>
		</form>
	</ion-content>
</ion-view>